html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#main {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.title {
  margin-top: 6%;
  text-align: center;
}
* {
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #f0e9d2;
}
a {
  text-decoration: none;
  color: #181d31;
}
.logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 196px;
}
form {
  text-align: center;
}
input {
  width: 60%;
  height: 5%;
  margin-bottom: 10px;
  text-align: center;
}

.submitsend {
  border-radius: 6px;
  width: 53%;
  margin-top: 16px;
  height: 6%;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 44px;
}
.already {
  text-decoration: underline;
}
input::placeholder {
  font-size: 20px;
  text-align: center;
}
.rules {
  color: red;
}
.registeret {
  text-align: center;
  margin-top: -15px;
  text-decoration: underline;
}
