html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#main {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.title {
  margin-top: 39%;
  text-align: center;
}
li {
  display: grid;
  grid-template-columns: repeat(7, 10%);
  grid-template-rows: repeat(3, 10%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #e6ddc4;
  width: 96%;
  margin-left: -9px;
  border-radius: 21px;
  margin-bottom: 15px;
  height: 15%;
}
.favorite {
  list-style-type: none;
}
.picture {
  grid-area: 1 / 1 / 4 / 3;
}
.pictures {
  height: 166%;
  padding-top: 26px;
  padding-left: 14px;
}
.name {
  grid-area: 1 / 3 / 2 / 8;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 12px;
  padding-top: 8px;
}
.adress {
  grid-area: 3 / 3 / 4 / 4;
}
.gps {
  height: 282%;
  padding-top: 26px;
  padding-left: 25px;
}
.tel {
  grid-area: 3 / 4 / 4 / 5;
}
.phone {
  height: 331%;
  padding-top: 24px;
  padding-left: 28px;
}
.note {
  grid-area: 3 / 6 / 4 / 7;
  padding-top: 20px;
  padding-left: 28px;
  font-size: 25px;
  font-weight: bold;
  color: #678983;
}
.delete {
  grid-area: 2 / 7 / 3 / 8;
}
.cross {
  padding-top: 21px;
  padding-left: 89px;

  height: 300%;
}
.onlybs {
  visibility: hidden;
}
.onlybstel {
  visibility: hidden;
}
/* RESPONSIVE  */

@media (min-width: 426px) {
  li {
    margin-left: 0;
  }
  .title {
    margin-top: 21%;
  }
}

@media (min-width: 768px) and (max-width: 2129px) {
  .title {
    margin-top: 18%;
    padding-bottom: 100px;
  }
  li {
    width: 50%;
    margin-left: 25%;
  }
  .onlybs {
    visibility: visible;
    padding-top: 22px;
    padding-left: 12px;
    font-size: 15px;
    width: max-content;
  }
  .adress {
    visibility: hidden;
  }
  .onlybstel {
    visibility: visible;
    padding-top: 61px;
    padding-left: 54px;
    font-size: 15px;
    color: #181d31;
    font-weight: bolder;
  }
  .tel {
    visibility: hidden;
  }
  .cross {
    padding-top: 36px;
    padding-left: 121px;
    height: 120%;
  }
  .note {
    padding-top: 37px;
    padding-left: 77px;
    font-size: 25px;
  }
  .pictures {
    padding-top: 26px;
    padding-left: 22px;
  }
}
