html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#main {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.title {
  margin-top: 6%;
  text-align: center;
}
* {
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #f0e9d2;
}
a {
  text-decoration: none;
  color: #181d31;
}
.logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 196px;
}
.body {
  position: relative;
  text-align: center;
}
input {
  width: 60%;
  margin-bottom: 32px;
  margin-top: 23px;
  height: 4%;
  font-size: 20px;
  text-align: center;
}
button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  margin-bottom: 102px;
}
.container {
  margin-top: 72px;
  font-size: 24px;
  text-decoration: underline;
}
.log {
  text-decoration: underline;
  font-size: 25px;
}
