* {
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #f0e9d2;
}
.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: fixed;
  z-index: 25;
  backdrop-filter: blur(28px);
  width: 100%;
  left: 0;
  top: 0;
  grid-template-rows: 116px;
  height: 117px;
}
.logo {
  height: 70%;
}
.left {
  grid-area: 1 / 1 / 2 / 2;
  margin: 10px 0 0 15px;
}
.right {
  grid-area: 1 / 5 / 2 / 6;
  text-align: center;
  font-size: 15px;
  margin: 22px 55px 0 0;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: #181d31;
}
/* navbar */

.menu,
.menu-burger,
.menu-bg {
  position: fixed;
  width: 108px;
  height: 108px;
  font-size: 36px;
  text-align: center;
  border-radius: 100%;
  left: -5px;
  top: 169px;
}

.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  height: 319vw;
  z-index: 1;
}

.menu-burger {
  color: black;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.4s;
  transform-origin: center;
  z-index: 1;
  top: 14%;
  position: absolute;
}
.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
  z-index: 23;
}

.menu-items {
  position: fixed;
  font-weight: bold;
  font-size: 10px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  transform: translateY(-200%);
  pointer-events: none;
  background-color: #f5ecd2e3;
  height: 100%;
}
.menu-items div {
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}
.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
  z-index: 2;
}
.menu-items.fs div {
  opacity: 1;
  margin-top: 50px;
  color: black;
  margin-left: 0;
  font-size: 160%;
}
.content {
  position: absolute;
  top: 20%;
  left: 22%;
  font-size: 35px;
  text-align: center;
}
span {
  background-color: #fae9c9;
  font-size: 45px;
  font-weight: bold;
}
/* RESPONSIVE  */

@media (min-width: 426px) {
  .logo {
    height: 70%;
    margin-top: 12px;
  }
  .right {
    font-size: 20px;
  }
  .menu-burger {
    top: 11%;
    font-size: 45px;
    left: 0%;
  }
  .menu-items {
    font-size: 15px;
  }
  .header {
    grid-template-rows: 115px;
    height: 11%;
  }
}

@media (min-width: 768px) {
  .menu-burger {
    top: 24%;
    font-size: 45px;
    left: 2%;
  }
  .menu-items {
    font-size: 12px;
    margin-top: 41px;
  }
  .logo {
    height: 90%;
  }
  .right {
    font-size: 23px;
    margin-top: 25px;
  }
  .header {
    grid-template-rows: 181px;
    height: 19%;
  }
  .menu-items.fs div {
    margin-top: 30px;
  }
}
