html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
#main {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.ml {
  margin-top: 45%;
  text-align: center;
}
.margin {
  margin-left: 10%;
  width: 80%;
}

/* RESPONSIVE  */

@media (min-width: 426px) {
  .ml {
    margin-top: 18%;
    font-size: 49px;
  }
}
