html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#main {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.title {
  margin-top: 6%;
  text-align: center;
}
* {
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #f0e9d2;
}
a {
  text-decoration: none;
  color: #181d31;
}
.logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 196px;
}
form {
  text-align: center;
}
input {
  width: 60%;
  height: 5%;
  margin-bottom: 10px;
  text-align: center;
}
label {
  margin-left: -100px;
}
#newsletter {
  height: 22px;
  margin-left: -105px;
}
.error {
  position: absolute;

  text-align: center;
  width: 100%;
  color: red;
  font-weight: 900;
  font-size: 20px;
}
.submitsend {
  background-image: linear-gradient(
    to right,
    #678983,
    #839f90,
    #a2b49e,
    #c4c8af,
    #e6ddc4
  );
  border: none;
  border-radius: 10px;
  width: 53%;
  margin-top: 16px;
  height: 6%;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 44px;
}
.already {
  text-decoration: underline;
}
input::placeholder {
  font-size: 20px;
  text-align: center;
}
.rules {
  color: red;
}
.registeret {
  text-align: center;
  margin-top: -15px;
  text-decoration: underline;
}
/* RESPONSIVE  */

@media (min-width: 426px) {
  label {
    margin-left: -112px;
  }
  #newsletter {
    margin-left: -160px;
  }
}

@media (min-width: 768px) and (max-width: 2129px) {
  label {
    margin-left: -223px;
  }
  #newsletter {
    margin-left: -360px;
  }
}
